<!DOCTYPE css>
h1 {
color: yellow;
width: 500px;
border: 1px solid black;
}
body { background-color: #ffffc9 }
a:link { color: blue; width 1000px } /* unbesuchte Links */
a:visited { color: lime } /* besuchte Links*/
a:hover { font-weight: bold } /* Benutzer fährt mit der Maus darüber */
a:active { color: lime } /* aktive Links */
