<!DOCTYPE css>
p:target {
  background-color: lightgreen;
}

#p1 :target::before {
  font: 70% sans-serif;
  content: "😯
   220 g Mehl
   1 TL	Salz
   2 EL	Olivenoel
   150 ml	Wasser
   200 g	Creme fraiche
   5 Stk.	Zwiebeln
   125 g	Schinkenwuerfel
   1 Spritzer	Zitronensaft
	Salz, Pfeffer";
  color: powderblue;
  margin-right: .25em;
}

#p2 :target::before {
  font: 70% sans-serif;
  content: "😇
       1. Mehl, Salz, Öl und Wasser zu einem Teig verarbeiten und sehr dünn ausrollen.
       2. Creme fraiche mit Salz, Pfeffer und Zitronensaft glatt ruehren und auf dem Teig verteilen.
       3. Zwiebeln halbieren, in Scheiben schneiden und in etwas Oel weich duensten. Zwiebeln und Schinkenwuerfel auf dem Fladen verteilen.
       4. Flammkuchen im vorgeheizten Backofen bei 200-220°C fuer ca. 10-15 Minuten knusprig backen.";
  color: powderblue;
  margin-right: .25em;
}
