<!DOCTYPE css>
h1 {
color: yellow;
width: 500px;
border: 1px solid black;
}
a:link { color: lime; width 1000px } /* unbesuchte Links */
a:visited { color: purple} /* besuchte Links*/
a:hover { font-weight: bold } /* Benutzer fährt mit der Maus darüber */
a:active { color: lime } /* aktive Links */
.first-name:focus {
  color: red;
}
